
{:source-paths ["src"]
 :dependencies [[mvc-works/hsl  "0.1.2"]
                [mvc-works/verbosely    "0.1.2"]
                [respo/ui       "0.3.7"]
                [respo          "0.8.20"]]
 :builds {:app {:output-dir "target/"
                :asset-path "."
                :target :browser
                :modules {:main {:entries [app.main]}}
                :devtools {:after-load app.main/reload!
                           :http-root "target"
                           :http-port 7000
                           :loader-mode :eval}}}}
