{
  :source-paths ["src"]
  :dependencies [
    [mvc-works/hsl "0.1.2"]
    [respo/ui "0.3.15"]
    [respo "0.13.3"]
  ]
  :dev-http {7000 "target/"}
  :builds {
    :app {
      :output-dir "target/", :asset-path ".", :target :browser
      :modules {
        :main {:init-fn app.main/main!}
      }
      :release {:output-dir "dist/"}
    }
  }
}